.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas: 
    "nav nav nav nav"
    "adidas apple amazon beats"
    "headphones shop music shoes";
}

.adidas {
    grid-area: adidas;
}

.apple {
    grid-area: apple;
}

.amazon {
    grid-area: amazon;
}

.beats {
    grid-area: beats;
}

.shoes {
    grid-area: shoes;
}

.music {
    grid-area: music;
}

.shop {
    grid-area: amazon;
}

.headphones {
    grid-area: headphones;
}

.nav {
    grid-area: nav;
    display: grid;
    background-color: black;
    justify-content: center;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: 
    "logo . links search";
}
.logo {
    grid-area: logo;
}
.links {
    grid-area: links;
}
.links a {
    color: white;
}
.search {
    grid-area: search;
}

.wrapper {
    max-height: 50vh;
    place-self: center;
    border: 1px solid #eee;
    padding: 3em;
}
img {
    width: 100%;
    height: ;
}
.nav img {
}